/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/js/*
webpack.mix.js
tailwind.config.js
.env
note.txt
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/composer.json
package.json
